{% extends 'head/baseTemplate.html' %}

{% block body %}

<div class="container">
    <div class="row vertical">
        <div class="col-md-12 center-block">
            <div class="breadcrumb">
                <p><a href="/head/">Home</a> / Categories </p>
            </div>
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0 text-center">Manage Categories</h3>
                </div>
                <div class="card-block">
                    <button class="btn btn-default float-right" style="margin-bottom: 20px" data-toggle="modal"
                            data-target="#addCategory" id="btn-add">
                        <i class="fa fa-plus"
                           aria-hidden="true"></i>
                        Add Category
                    </button>

                    
                    </div>
                    </div>
                    </div>
                    </div>

                    <div class="modal fade" tabindex="-1" role="dialog" id="addCategory">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Add Categories</h4>
                                </div>
                                <div class="modal-body">
                                    <form class="form create-form" autocomplete="off" method="post"
                                          action="">
                                        <div class="form-group">
                                            <label for="categoryName">Name</label>
                                            <input type="text" class="form-control" name="categoryname" id="categoryName" required
                                                   autocomplete="off">
                                        </div>
                                       
                                        {% csrf_token %}
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary" id="createCategoryBtn"
                                                    data-loading-text="loading...">Save changes
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
            


<table class="table table-bordered" id="categoriesTable">
    
    <thead>
        <tr>
            <th width="5%">ID</th>
            <th width="50%">Category Name</th>
            <th width="20%">Options</th>
        </tr>
    </thead>
    <tbody>
    {% if category|length < 1 %}
        <tr>
        <td colspan="4" class="text-center">No data found, please add some data!</td>
        </tr>
    {% else %}
        {% for category in category %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ category.name }}</td>
                <td>
                    <button class="btn btn-danger" id="btn-delete"  data-toggle="modal"
                                data-target="#removecategory">
                        <span class="glyphicon glyphicon-trash"></span>
                        Delete
                    </button>
                    <button class="btn btn-info show-form-delete" id="btn-update" data-url="#">
                        <span class="glyphicon glyphicon-trash"></span>
                        Edit
                    </button>
                </td>
                </tr>
                {% endfor %}
                {% endif %}
          </tbody>
          </table>
          </div>

          {% endblock %}
              