{% extends 'head/baseTemplate.html' %}


{% block body %}

<div class="container">
    <div class="row vertical">
        <div class="col-md-12 center-block">
            <div class="breadcrumb">
                <p><a href="/head/">Home</a> / Store list </p>
            </div>
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0 text-center">Stores</h3>
                </div>
               
                    </div>
                    </div>
                    </div>



<table class="table table-bordered" id="categoriesTable">
    
    <thead>
        <tr>
            <th width="5%">ID</th>
            <th width = "30%"> Store  Name</th>
            <th width="10%">Store number</th>
            <th width="15%">Username</th>
            <th width="20%">Email</th>
            <th width="20%">Option</th>
        </tr>
    </thead>
    <tbody>
    {% if user|length < 1 %}
        <tr>
        <td colspan="4" class="text-center">No data found, please add some data!</td>
        </tr>
    {% else %}
        {% for i in user %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ i.name }}</td>
                <td>{{ i.number}}</td>
                <td>{{i.user.username}}</td>
                <td>{{ i.user.email }}</td>
                <td>
                   <a href="/head/storeprofile/{{i.id}}"> <button class="btn btn-danger" id="btn-delete"  >
                        <span class="glyphicon glyphicon-trash"></span>
                        View
                    </button></a>
                   
                </td>
                </tr>
                {% endfor %}
                {% endif %}
          </tbody>
          </table>
          </div>


{% endblock %}