{% extends 'subhead/baseTemplate.html' %}
{% load static %}

{% block body %}
    <div class="container">
        <div class="row vertical">
            <div class="breadcrumb col-md-12">
                    <p><a href="">Home</a>  </p>
                </div>
            <div class="col-md-4">
                <div class="breadcrumb">
                    <p>Total Product</p>
                </div>

                <div class="breadcrumb">
                    <p>Total Product</p>
                </div>

                <div class="breadcrumb">
                    <p>Low Stock</p>
                </div>


                <div class="card card-outline-secondary">
                    <div class="card-header">
                        <h3 class="mb-0 text-center">Manage Brand</h3>
                    </div>
                    <div class="card-block">

                    </div>
                </div>

                <div class="card card-outline-secondary">
                    <div class="card-header">
                        <h3 class="mb-0 text-center">Manage Brand</h3>
                    </div>
                    <div class="card-block">

                    </div>
                </div>
            </div>


            <div class="col-md-8 center-block">
                <div class="card card-outline-secondary">
                    <div class="card-header">
                        <h3 class="mb-0 text-center">Owner Information</h3>
                    </div>
                    <div class="card-block">
                        <table class="table table-striped mt-3">
                            <thead>
                              <tr>
                           
                                <th scope = "col"> Name</th>
                                <td>{{user.name}}</td>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                          
                                <th>Number</th>
                                <td>{{user.number}}</td>
                                
                              </tr>
                              <tr>
                            
                                <th scope = "col"> Email</th>
                                <td>{{user.user.email}}</td>
                              </tr>
                              <tr>
                            
                                <th scope = "col"> User Name</th>
                                <td>{{user.user.username}}</td>
                              </tr>
                              <tr>
                         
                                <th>Password</th>
                                <td>xxxxxxxx</td>
                                
                              </tr>
                              </tbody>
                              </table>
                        
                              <hr>
                        
                            
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block script %}
  
{% endblock %}